---
import Layout from "../layouts/Default.astro";
import Navbar from "../components/Navbar.astro";
import NavbarClone from "../components/NavbarClone.astro";
const title = "About us";
---

<Layout title={title}>
  <div class="roadmap-wrapper">
    <!-- Landing page Hero -->
    <section class="hero is-medium">
      <div class="hero-head">
        <!-- Cloned navbar -->
        <NavbarClone />

        <!-- Static navbar -->
        <Navbar />
      </div>

       <!-- Company section -->
          <section class="section is-medium has-big-dark-gradient">
            <!-- Container -->
            <div class="container">
              <!-- Divider -->
              <div class="divider is-centered"></div>
              <!-- Title & subtitle -->
              <h2 class="title is-light is-semibold has-text-centered is-spaced">
                Meet the people behind the curtain...
              </h2>

              <!-- Content wrapper -->
              <div class="content-wrapper is-large">
                <div class="columns is-vcentered">
                  <div class="column is-hidden-mobile"></div>

                  <!-- Team member -->
                  <div class="column is-3">
                    <div class="team-member-container">
                      <!-- Card -->
                      <div class="dark-card">
                        <!-- Avatar wrapper -->
                        <div class="avatar">
                          <!-- Svg circle -->
                          <svg
                            class="circle-chart"
                            viewbox="0 0 33.83098862 33.83098862"
                            width="140"
                            height="140"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <!-- Track -->
                            <circle
                              class="circle-chart-background"
                              stroke-width="1"
                              fill="none"
                              cx="16.91549431"
                              cy="16.91549431"
                              r="15.91549431"></circle>
                            <!-- Stroke -->
                            <circle
                              class="circle-chart-circle"
                              stroke-width="1"
                              stroke-dasharray="33,100"
                              stroke-linecap="round"
                              fill="none"
                              cx="16.91549431"
                              cy="16.91549431"
                              r="15.91549431"></circle>
                          </svg>
                          <!-- Sketeched face -->
                          <img class="is-sketch" src="/img/team/fryderyk.png" alt="" />
                          <!-- Real face -->
                          <img class="is-real" src="/img/team/fryderyk.png" alt="" />
                        </div>
                        <!-- Member meta -->
                        <div class="member-info">
                          <h4 class="title is-light is-6 is-tight">Fryderyk Sitnik</h4>
                          <div class="position">Founder // CEO</div>
                          <p class="description">
                            Founder of TeenCrunch (accelerator), prev. VC/PE analyst, 2 startup bids
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Team member -->
                  <div class="column is-3">
                    <div class="team-member-container">
                      <div class="dark-card">
                        <div class="avatar">
                          <svg
                            class="circle-chart"
                            viewbox="0 0 33.83098862 33.83098862"
                            width="140"
                            height="140"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <circle
                              class="circle-chart-background"
                              stroke-width="1"
                              fill="none"
                              cx="16.91549431"
                              cy="16.91549431"
                              r="15.91549431"></circle>
                            <circle
                              class="circle-chart-circle"
                              stroke-width="1"
                              stroke-dasharray="33,100"
                              stroke-linecap="round"
                              fill="none"
                              cx="16.91549431"
                              cy="16.91549431"
                              r="15.91549431"></circle>
                          </svg>
                          <img class="is-sketch" src="/img/team/levi.jpeg" alt="" />
                          <img class="is-real" src="/img/team/levi.jpeg" alt="" />
                        </div>
                        <div class="member-info">
                          <h4 class="title is-light is-6 is-tight">Le Vent Ludanyi</h4>
                          <div class="position">Founder // CTO</div>
                          <p class="description">
                          Youngest Quantitative Researcher at WorldQuant, IPhO silver medal winner
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Team member -->
                  <div class="column is-3">
                    <div class="team-member-container">
                      <div class="dark-card">
                        <div class="avatar">
                          <svg
                            class="circle-chart"
                            viewbox="0 0 33.83098862 33.83098862"
                            width="140"
                            height="140"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <circle
                              class="circle-chart-background"
                              stroke-width="1"
                              fill="none"
                              cx="16.91549431"
                              cy="16.91549431"
                              r="15.91549431"></circle>
                            <circle
                              class="circle-chart-circle"
                              stroke-width="1"
                              stroke-dasharray="33,100"
                              stroke-linecap="round"
                              fill="none"
                              cx="16.91549431"
                              cy="16.91549431"
                              r="15.91549431"></circle>
                          </svg>
                          <img class="is-sketch" src="/img/team/adithya.png" alt="" />
                          <img class="is-real" src="/img/team/adithya.png" alt="" />
                        </div>
                        <div class="member-info">
                          <h4 class="title is-light is-6 is-tight">Adithya Ravichandran</h4>
                          <div class="position">Founder // COO</div>
                          <p class="description">
                            Founder of LUXMUN (Non-Profit), Fintech+GameDev hackathon winner
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="column is-hidden-mobile"></div>
                </div>

                <div class="columns is-vcentered">
                  <div class="column is-hidden-mobile"></div>

                  <!-- Team member -->
                  <div class="column is-3">
                    <div class="team-member-container">
                      <div class="dark-card">
                        <div class="avatar">
                          <svg
                            class="circle-chart"
                            viewbox="0 0 33.83098862 33.83098862"
                            width="140"
                            height="140"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <circle
                              class="circle-chart-background"
                              stroke-width="1"
                              fill="none"
                              cx="16.91549431"
                              cy="16.91549431"
                              r="15.91549431"></circle>
                            <circle
                              class="circle-chart-circle"
                              stroke-width="1"
                              stroke-dasharray="33,100"
                              stroke-linecap="round"
                              fill="none"
                              cx="16.91549431"
                              cy="16.91549431"
                              r="15.91549431"></circle>
                          </svg>
                          <img class="is-sketch" src="/img/team/minh.jpeg" alt="" />
                          <img class="is-real" src="/img/team/minh.jpeg" alt="" />
                        </div>
                        <div class="member-info">
                          <h4 class="title is-light is-6 is-tight">Minh Pham</h4>
                          <div class="position">Product</div>
                          <p class="description">
                            Product Manager at Vietcode
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Team member -->
                  <div class="column is-3">
                    <div class="team-member-container">
                      <div class="dark-card">
                        <div class="avatar">
                          <svg
                            class="circle-chart"
                            viewbox="0 0 33.83098862 33.83098862"
                            width="140"
                            height="140"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <circle
                              class="circle-chart-background"
                              stroke-width="1"
                              fill="none"
                              cx="16.91549431"
                              cy="16.91549431"
                              r="15.91549431"></circle>
                            <circle
                              class="circle-chart-circle"
                              stroke-width="1"
                              stroke-dasharray="33,100"
                              stroke-linecap="round"
                              fill="none"
                              cx="16.91549431"
                              cy="16.91549431"
                              r="15.91549431"></circle>
                          </svg>
                          <img class="is-sketch" src="/img/team/duc.jpeg" alt="" />
                          <img class="is-real" src="/img/team/duc.jpeg" alt="" />
                        </div>
                        <div class="member-info">
                          <h4 class="title is-light is-6 is-tight">Duc Nguyen</h4>
                          <div class="position">Engineer</div>
                          <p class="description">
                            ICPC Silver Medallist
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Team member -->
                  <div class="column is-3">
                    <div class="team-member-container">
                      <div class="dark-card">
                        <div class="avatar">
                          <svg
                            class="circle-chart"
                            viewbox="0 0 33.83098862 33.83098862"
                            width="140"
                            height="140"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <circle
                              class="circle-chart-background"
                              stroke-width="1"
                              fill="none"
                              cx="16.91549431"
                              cy="16.91549431"
                              r="15.91549431"></circle>
                            <circle
                              class="circle-chart-circle"
                              stroke-width="1"
                              stroke-dasharray="33,100"
                              stroke-linecap="round"
                              fill="none"
                              cx="16.91549431"
                              cy="16.91549431"
                              r="15.91549431"></circle>
                          </svg>
                          <img class="is-sketch" src="/img/team/the.jpg" alt="" />
                          <img class="is-real" src="/img/team/the.jpg" alt="" />
                        </div>
                        <div class="member-info">
                          <h4 class="title is-light is-6 is-tight">The Nguyen</h4>
                          <div class="position">Engineer</div>
                          <p class="description">
                            Google Software Engineer
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="column is-hidden-mobile"></div>
                </div>

                <!-- Spaced divider -->
                <div class="divider is-centered is-spacer"></div>
                <!-- Title & subtitle -->
                <h2 class="title is-light is-semibold has-text-centered is-spaced">
                  ...and the people backing us
                </h2>

                <!-- Content wrapper -->
                <div class="content-wrapper is-large">
                  <div class="columns is-vcentered is-multiline is-hcentered">
                    <!-- Advisor -->
                    <div class="column is-one-third">
                      <div class="advisor-container has-text-centered">
                        <!-- Picture -->
                        <div class="photo">
                          <img
                            src="/img/team/john.jpeg"
                            alt=""
                            data-aos="fade-down"
                            data-aos-delay="100"
                            data-aos-offset="200"
                            data-aos-easing="ease-out-quart"
                          />
                        </div>
                        <!-- Meta -->
                        <div class="info">
                          <div class="subtitle is-6 is-light is-compressed">
                            John Chang
                          </div>
                          <div class="position">
                          CEO of ECOVE inc. <br>
                          10+ years start up exp.
                          </br>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Advisor -->
                    <div class="column is-one-third">
                      <div class="advisor-container has-text-centered">
                        <div class="photo">
                          <img
                            src="/img/team/tomek.jpeg"
                            alt=""
                            data-aos="fade-down"
                            data-aos-delay="300"
                            data-aos-offset="200"
                            data-aos-easing="ease-out-quart"
                          />
                        </div>
                        <div class="info">
                          <div class="subtitle is-6 is-light is-compressed">
                            Tomasz Wozniak
                          </div>
                          <div class="position">CEO of Futuremind
                          <br>
                          15+ years exp. in loyalty space
                          </br>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Advisor -->
                    <div class="column is-one-third">
                      <div class="advisor-container has-text-centered">
                        <div class="photo">
                          <img
                            src="/img/team/suzanna_r_google.jpeg"
                            alt=""
                            data-aos="fade-down"
                            data-aos-delay="900"
                            data-aos-offset="200"
                            data-aos-easing="ease-out-quart"
                          />
                        </div>
                        <div class="info">
                          <div class="subtitle is-6 is-light is-compressed">
                            Suzanna Rabiej
                          </div>
                          <div class="position">B2B Sales at FAANG
                          <br>
                          5+ years B2B Sales exp.
                          </br>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Content wrapper -->

                <!-- Spaced divider -->
                <div class="divider is-centered is-spacer"></div>
    </section>
  </div>
</Layout>
