---
import Layout from "../layouts/Default.astro";
import Navbar from "../components/Navbar.astro";
import NavbarClone from "../components/NavbarClone.astro";
const title = "Business";
---

<Layout title={title}>
  <div class="token-wrapper">
    <!-- Landing page Hero -->
    <section class="hero is-medium">
      <div class="hero-head">
        <!-- Cloned navbar -->
        <NavbarClone />

        <!-- Static navbar -->
        <Navbar />
      </div>

      <div class="hero-body has-text-centered">
        <div class="columns">
          <div class="column is-6 is-offset-3">
            <div class="token-image">
              <img src="/img/business.png" />
            </div>
            <h1 class="title is-2 is-light is-semibold is-spaced main-title">
              I'm a brand
            </h1>
            <h2 class="subtitle is-5 is-light is-thin">
               We help businesses increase customer engagement, retention, and loyalty.
               Our platform allows customers to exchange loyalty benefits across brands, offers personalized benefits, and provides benefit exchange analytics.
               Plus, if you own multiple brands, PointSwitch can help you incentivize customers to move between your different brands.
            </h2>
          </div>
        </div>
      </div>
    </section>

    <section class="section is-medium">
      <div class="container">
        <!-- Content wrapper -->
        <div class="content-wrapper">
          <div class="columns is-vcentered">
            <!-- Feature content -->
            <div class="column is-5 is-offset-1">
              <div class="side-feature-content">
                <h3 class="title is-4 is-light">Launch your benefits</h3>
                <div class="divider"></div>
                <p class="is-light">
                  Easily integrate into your existing PoS, CRM & E-commerce systems (such as SalesForce, Shopify, Toast) and launch new benefits. And because we handle the blockchain in the backend, you don't need to have any knowledge of blockchain technology to use our platform. This means you can enjoy all the benefits of blockchain-based loyalty programs without the technical headaches.
                </p>
              </div>
                        </div>

            <!-- Feature image -->
            <div class="column is-7">
              <img
                class="side-feature"
                src="/img/illustrations/integrations_ps.png"
                alt=""
              />
            </div>
          </div>

          <div class="columns is-vcentered">
            <!-- Feature image -->
            <div class="column is-7">
              <img
                class="side-feature"
                src="/img/illustrations/exchange-business.png"
                alt=""
              />
            </div>

            <!-- Feature content -->
            <div class="column is-5">
              <div class="side-feature-content">
                <h3 class="title is-4 is-light">Engage customers more</h3>
                <div class="divider"></div>
                <p class="is-light">
                  Engage customers on a deeper level: Offer your customers a wider choice of loyalty benefits, which can help increase engagement and retention. Plus, our platform offers personalized benefits,
                  so you can be sure your customers are getting rewards that are tailored to their needs and interests.
                </p>
                <h1 class="subtitle is-6 is-light is-spaced has-text-centered">
                <br></br>
                <i>81% of customers prefer benefits working across brands</i>
                </h1>
              </div>
            </div>
          </div>

          <div class="columns is-vcentered">
            <!-- Feature content -->
            <div class="column is-5">
              <div class="side-feature-content">
                <h3 class="title is-4 is-light">Understand your customers better</h3>
                <div class="divider"></div>
                <p class="is-light">
                  Benefit exchange analytics, which can help you better understand your customers' preferences and behavior.
                  This can help you make more informed decisions about your loyalty program and other marketing initiatives.
                </p>
                <h1 class="subtitle is-6 is-light is-spaced has-text-centered">
                <br></br>
                <i>Customers who redeem personalized offers spend 4.5X more than those who don't</i>
                </h1>
              </div>
            </div>

            <!-- Feature image -->
            <div class="column is-7">
              <img
                class="side-feature"
                src="/img/illustrations/brand-mvp-analytics.png"
                alt=""
              />
            </div>
          </div>
        </div>
        </div>
        <!-- /Content wrapper -->

        <!-- Spaced divider -->
        <div class="divider is-centered is-spacer"></div>
        </div>
        <!-- /Content wrapper -->
      </div>
    </section>
  </div>
</Layout>
