---
import Layout from "../layouts/Default.astro";
import Navbar from "../components/Navbar.astro";
import NavbarClone from "../components/NavbarClone.astro";
import Starfall from "../components/Starfall.astro";
import { Image, Picture } from '@astrojs/image/components';
const title = "Home";
import heroImage from 'public/img/exchange-new.webp'
---

<Layout title={title}>
  <div class="dark-wrapper">
    <!-- Landing page Hero -->
    <section class="hero is-fullheight is-transparent">
      <div class="hero-head">

        <!-- Cloned navbar -->
        <NavbarClone />

        <!-- Static navbar -->
        <Navbar />
      </div>

      <!-- Animated particles -->
      <Starfall />

      <!-- Hero Image and Title -->
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <!-- Landing page Title -->
            <div class="column is-5 landing-caption">
              <h1 class="title is-1 is-light is-semibold main-title">
                Exchange loyalty benefits across your favourite brands
              </h1>
              <!-- CTA -->
              <p class="buttons">
                <a
                  href="#start"
                  class="button k-button k-primary raised has-gradient is-fat is-bold"
                >
                  <span class="text">Get in Touch</span>
                  <span class="front-gradient"></span>
                </a>
              </p>
            </div>
            <!-- Hero image -->
            <div class="column is-7">
               <img src="/img/Untitled_-Group-5.webp"  alt="" />
            </div>
          </div>
        </div>
      </div>

      <!-- Hero footer -->
    <!-- /Landing page Hero -->

    <!-- Icon Features section -->
    <section id="start" class="section is-transparent is-relative">
      <!-- Container -->
      <div class="container">

           <h1 class="title is-3 is-light is-spaced title">
            We want to help you step into the future of loyalty, <br>
            whether it's by increasing the value of the benefits you own, <br>
            or helping you incorporate exchangeability into your loyalty program solution.
           </h1>
            <h1 class="subtitle is-5 is-light is-spaced">
            <i>Let us know which best fits you - the site will change based on your needs</i>
            </h1>
        </div>

        <!-- Content wrapper -->
        <div class="content-wrapper is-medium mt-6">
          <div class="columns is-vcentered">
            <!-- Feature -->
            <div class="column is-4">
              <div class="feature">
                <img
                  src="/img/personal.png"
                  alt=""
                  data-aos="fade-up"
                  data-aos-delay="100"
                  data-aos-offset="200"
                  data-aos-easing="ease-out-quart"
                />
                <h4 class="title is-6 is-tight is-light">I'm a customer</h4>
                <p>
                  I'm looking for more flexible loyalty & a place through which I can easily use, track & exchange benefits.
                </p>
                <!-- Play video button -->
                  <a href="personal">
                  <div class="cta-wrapper has-text-centered" >
                    <div
                      class="video-button levitate js-modal-btn"
                      data-video-id="6WG7D47tGb0"
                    >
                      <img src="/img/icons/play.svg" alt="" />
                    </div>
                  </div>
                  </a>
              </div>
            </div>
            <!-- Feature -->
            <div class="column is-4">
              <div class="feature">
                <img
                  src="/img/business.png"
                  alt=""
                  data-aos="fade-up"
                  data-aos-delay="300"
                  data-aos-offset="200"
                  data-aos-easing="ease-out-quart"
                />
                <h4 class="title is-6 is-tight is-light">I'm a business</h4>
                <p>
                  I'm looking to ramp up my loyalty program & increase customer retention through instant benefit exchange.
                </p>
                <!-- Play video button -->
                  <a href="business">
                  <div class="cta-wrapper has-text-centered">
                    <div
                      class="video-button levitate js-modal-btn"
                      data-video-id="6WG7D47tGb0"
                    >
                      <img src="/img/icons/play.svg" alt="" />
                    </div>
                    </a>
                  </div>
              </div>
            </div>
            <!-- Feature -->
            <div class="column is-4">
              <div class="feature">
                <img
                  src="/img/partner.png"
                  alt=""
                  data-aos="fade-up"
                  data-aos-delay="500"
                  data-aos-offset="200"
                  data-aos-easing="ease-out-quart"
                />
                <h4 class="title is-6 is-tight is-light">I'm a partner</h4>
                <p>
                  I'm looking to improve my current loyalty offering by using PointSwitch <i>LiquiLoyalty</i> exchange mechanism.
                </p>
                <!-- Play video button -->
                <a href="partner">
                  <div class="cta-wrapper has-text-centered" href="partner">
                    <div
                      class="video-button levitate js-modal-btn"
                      data-video-id="6WG7D47tGb0"
                    >
                      <img src="/img/icons/play.svg" alt="" />
                    </div>
                  </div>
                  </a>
              </div>
            </div>
          </div>
        </div>
                <!-- Spaced divider -->
                <div class="divider is-centered is-spacer"></div>
                <!-- Title & subtitle -->
                <h2 class="title is-light is-semibold has-text-centered is-spaced">
                  FAQ
                </h2>
                <h4 class="subtitle is-6 is-light has-text-centered is-compact">
                  Viderer malorum sadipscing cum ei. Eu impetus perfecto sit, no sea
                  labore detraxit. Primis mediocrem necessitatibus an vis. Ut sea
                  pertinax perpetua, eruditi volumus quaestio ex mel, has ei tota
                  homero.
                </h4>

                <!-- Content wrapper -->
                <div class="content-wrapper is-large">
                  <div class="columns">
                    <div class="column is-5 is-offset-1">
                      <!-- Accordion -->
                      <div class="accordion">
                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle1"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle1">
                            What is Blockchain ?
                          </label>
                          <div class="accordion-content">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna
                              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                              ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                          </div>
                        </div>

                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle2"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle2">
                            What is ICO ?
                          </label>
                          <div class="accordion-content">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna
                              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                              ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                          </div>
                        </div>

                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle3"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle3">
                            Where to get the Whitepaper ?
                          </label>
                          <div class="accordion-content">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna
                              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                              ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                          </div>
                        </div>

                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle4"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle4">
                            What is Krypton Core Innovation ?
                          </label>
                          <div class="accordion-content">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna
                              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                              ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                          </div>
                        </div>

                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle5"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle5">
                            When will be the platform released ?
                          </label>
                          <div class="accordion-content">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna
                              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                              ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                          </div>
                        </div>
                      </div>
                      <!-- /Accordion -->
                    </div>

                    <div class="column is-5">
                      <!-- Accordion -->
                      <div class="accordion">
                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle6"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle6">
                            How much tokens will be sold ?
                          </label>
                          <div class="accordion-content">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna
                              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                              ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                          </div>
                        </div>

                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle7"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle7">
                            What happens if Soft Cap isn't reached ?
                          </label>
                          <div class="accordion-content">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna
                              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                              ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                          </div>
                        </div>

                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle8"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle8">
                            How much do you want to raise with the ICO ?
                          </label>
                          <div class="accordion-content">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna
                              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                              ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                          </div>
                        </div>

                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle9"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle9">
                            When will the tokens be distributed ?
                          </label>
                          <div class="accordion-content">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna
                              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                              ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                          </div>
                        </div>

                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle10"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle10">
                            Will their be Bounties ?
                          </label>
                          <div class="accordion-content">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna
                              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                              ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                          </div>
                        </div>
                      </div>
                      <!-- /Accordion -->
                    </div>
                  </div>
                </div>
        <!-- Content wrapper -->
      </div>
      <!-- /Container -->
    </section>
    <!-- /Icon Features section -->
    <!-- Contact section -->
  </div>

  
</Layout>
