---
import Layout from "../layouts/Default.astro";
import Navbar from "../components/Navbar.astro";
import NavbarClone from "../components/NavbarClone.astro";
import Starfall from "../components/Starfall.astro";
import { Image, Picture } from '@astrojs/image/components';
const title = "Home";
import heroImage from 'public/img/exchange-new.webp'
---

<Layout title={title}>
  <div class="dark-wrapper">
    <!-- Landing page Hero -->
    <section class="hero is-fullheight is-transparent">
      <div class="hero-head">

        <!-- Cloned navbar -->
        <NavbarClone />

        <!-- Static navbar -->
        <Navbar />
      </div>

      <!-- Animated particles -->
      <Starfall />

      <!-- Hero Image and Title -->
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <!-- Landing page Title -->
            <div class="column is-5 landing-caption">
              <h1 class="title is-1 is-light is-semibold main-title">
                Exchanges loyalty benefits across your favourite brands
              </h1>
              <!-- CTA -->
              <p class="buttons">
                <a
                  href="mailto: adithya@pointswitch.xyz"
                  class="button k-button k-primary raised has-gradient is-fat is-bold"
                >
                  <span class="text">Get in Touch</span>
                  <span class="front-gradient"></span>
                </a>
              </p>
            </div>
            <!-- Hero image -->
            <div class="column is-7">
               <img src="/img/Untitled_-Group-5.webp"  alt="" />
            </div>
          </div>
        </div>
      </div>


    <!-- /Landing page Hero -->

    <!-- Icon Features section -->
    <section id="start" class="section is-transparent is-relative">
      <!-- Container -->
      <div class="container">

           <h1 class="title is-3 is-light is-spaced title">
            We want to help you step into the future of loyalty, <br>
            whether it's by increasing the value of the benefits you own, <br>
            or helping you incorporate exchangeability into your loyalty program solution.
           </h1>
            <h1 class="subtitle is-5 is-light is-spaced">
            <i>Let us know which best fits you - the site will change based on your needs</i>
            </h1>
        </div>

        <!-- Content wrapper -->
        <div class="content-wrapper is-medium mt-6">
          <div class="columns is-vcentered">
            <!-- Feature -->
            <div class="column is-4">
              <div class="feature">
                <img
                  src="/img/personal.png"
                  alt=""
                  data-aos="fade-up"
                  data-aos-delay="100"
                  data-aos-offset="200"
                  data-aos-easing="ease-out-quart"
                />
                <h4 class="title is-6 is-tight is-light">I'm a customer</h4>
                <p>
                  I'm looking for more flexible loyalty & a place through which I can easily use, track & exchange benefits.
                </p>
                <!-- Play video button -->
                  <a href="personal">
                  <div class="cta-wrapper has-text-centered" >
                    <div
                      class="video-button levitate js-modal-btn"
                      data-video-id="6WG7D47tGb0"
                    >
                      <img src="/img/icons/play.svg" alt="" />
                    </div>
                  </div>
                  </a>
              </div>
            </div>
            <!-- Feature -->
            <div class="column is-4">
              <div class="feature">
                <img
                  src="/img/business.png"
                  alt=""
                  data-aos="fade-up"
                  data-aos-delay="300"
                  data-aos-offset="200"
                  data-aos-easing="ease-out-quart"
                />
                <h4 class="title is-6 is-tight is-light">I'm a business</h4>
                <p>
                  I'm looking to ramp up my loyalty program & increase customer retention through instant benefit exchange.
                </p>
                <!-- Play video button -->
                  <a href="business">
                  <div class="cta-wrapper has-text-centered">
                    <div
                      class="video-button levitate js-modal-btn"
                      data-video-id="6WG7D47tGb0"
                    >
                      <img src="/img/icons/play.svg" alt="" />
                    </div>
                    </a>
                  </div>
              </div>
            </div>
            <!-- Feature -->
            <div class="column is-4">
              <div class="feature">
                <img
                  src="/img/partner.png"
                  alt=""
                  data-aos="fade-up"
                  data-aos-delay="500"
                  data-aos-offset="200"
                  data-aos-easing="ease-out-quart"
                />
                <h4 class="title is-6 is-tight is-light">I'm a partner</h4>
                <p>
                  I'm looking to improve my current loyalty offering by using PointSwitch <i>LiquiLoyalty</i> exchange mechanism.
                </p>
                <!-- Play video button -->
                <a href="partner">
                  <div class="cta-wrapper has-text-centered" href="partner">
                    <div
                      class="video-button levitate js-modal-btn"
                      data-video-id="6WG7D47tGb0"
                    >
                      <img src="/img/icons/play.svg" alt="" />
                    </div>
                  </div>
                  </a>
              </div>
            </div>
          </div>
        </div>
                <!-- Spaced divider -->
                <div class="divider is-centered is-spacer"></div>
                <!-- Title & subtitle -->
                <h2 class="title is-light is-semibold has-text-centered is-spaced">
                  FAQ
                </h2>
                <h4 class="subtitle is-6 is-light has-text-centered is-compact">
                  Here are some of the most frequently asked questions and terminology
                </h4>

                <!-- Content wrapper -->
                <div class="content-wrapper is-large">
                  <div class="columns">
                    <div class="column is-5 is-offset-1">
                      <!-- Accordion -->
                      <div class="accordion">
                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle1"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle1">
                            What is Blockchain ?
                          </label>
                          <div class="accordion-content">
                            <p>
                              A blockchain is a type of database that is used to store data in a way that is secure, transparent, and immutable. It is essentially a digital ledger of transactions that is distributed across a network of computers. <br /> <br />

                              Each block in the chain contains a record of multiple transactions, and once a block is added to the chain, the data it contains is considered to be permanent and unalterable. This is achieved through the use of cryptographic techniques that ensure that once data is recorded on the blockchain, it cannot be modified without the consensus of the network.  <br /> <br />

                              One of the key features of blockchain technology is its decentralized nature. This means that there is no central authority controlling the data on the blockchain, and instead, all participants in the network have a copy of the entire blockchain. This makes it difficult for any single entity to manipulate the data on the blockchain, as any changes would need to be approved by the majority of the network. <br /> <br />
                            </p>
                          </div>
                        </div>

                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle2"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle2">
                            Why is exchangeability good for brands? <br /> 
                            Doesn't it defeat the whole purpose of loyalty?
                          </label>
                          <div class="accordion-content">
                            <p>
                              Well, no ...
                            </p>
                          </div>
                        </div>

                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle3"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle3">
                            What is a liquidity pool?
                          </label>
                          <div class="accordion-content">
                            <p>
                             A liquidity pool is a collection of funds, usually in the form of cryptocurrencies or tokens, that are locked in a smart contract. Liquidity pools are used to facilitate decentralized trading on decentralized exchanges (DEXs) by providing liquidity for traders to swap between currencies.
                            </p>
                          </div>
                        </div>

                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle4"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle4">
                            Is Levente gay?
                          </label>
                          <div class="accordion-content">
                            <p>
                              Hell no.
                            </p>
                          </div>
                        </div>

                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle5"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle5">
                            When will be the platform released ?
                          </label>
                          <div class="accordion-content">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna
                              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                              ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                          </div>
                        </div>
                      </div>
                      <!-- /Accordion -->
                    </div>

                    <div class="column is-5">
                      <!-- Accordion -->
                      <div class="accordion">
                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle6"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle6">
                            Where can I get the Whitepaper?
                          </label>
                          <div class="accordion-content">
                            <p>
                              You can download it via this link: <a href="https://external-preview.redd.it/HwAXQ-OdGvTTIC-_RsNTjm4yCpCQBiYc44uDwZ89jTc.jpg?auto=webp&v=enabled&s=590f5704f5e04df39932499f289884e802062755">def_the_white_paper</a>

                            </p>
                          </div>
                        </div>

                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle7"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle7">
                            How does it differ from a normal cashback program?
                          </label>
                          <div class="accordion-content">
                            <p>
                              see here: 
                              <a href="https://external-preview.redd.it/HwAXQ-OdGvTTIC-_RsNTjm4yCpCQBiYc44uDwZ89jTc.jpg?auto=webp&v=enabled&s=590f5704f5e04df39932499f289884e802062755">asd</a>
                            </p>
                          </div>
                        </div>

                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle8"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle8">
                            Is Adithya gay?
                          </label>
                          <div class="accordion-content">
                            <p>
                              Yes
                            </p>
                          </div>
                        </div>

                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle9"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle9">
                            Are you planning to do an ICO ?
                          </label>
                          <div class="accordion-content">
                            <p>
                              No, we are not. We are raising funs on equity and selling our SaaS platform.
                            </p>
                          </div>
                        </div>

                        <!-- Option -->
                        <div class="accordion-option">
                          <input
                            type="checkbox"
                            id="toggle10"
                            class="accordion-toggle"
                          />
                          <label class="accordion-title" for="toggle10">
                            Yes?
                          </label>
                          <div class="accordion-content">
                            <p>
                              Yes.
                            </p>
                          </div>
                        </div>
                      </div>
                      <!-- /Accordion -->
                    </div>
                  </div>
                </div>
        <!-- Content wrapper -->
      </div>
      <!-- /Container -->
    </section>
    <!-- /Icon Features section -->
    <!-- Contact section -->
  </div>

  
</Layout>
