---
import Layout from "../layouts/Default.astro";
import Navbar from "../components/Navbar.astro";
import NavbarClone from "../components/NavbarClone.astro";
const title = "Partner";
---

<Layout title={title}>
  <div class="token-wrapper">
    <!-- Landing page Hero -->
    <section class="hero is-medium">
      <div class="hero-head">
        <!-- Cloned navbar -->
        <NavbarClone />

        <!-- Static navbar -->
        <Navbar />
      </div>

      <div class="hero-body has-text-centered">
        <div class="columns">
          <div class="column is-6 is-offset-3">
            <div class="token-image">
              <img src="/img/partner.png" />
            </div>
            <h1 class="title is-2 is-light is-semibold is-spaced main-title">
              I'm a partner
            </h1>
            <h2 class="subtitle is-5 is-light is-thin">
              Engage users with Loyalty.
            </h2>
          </div>
        </div>
      </div>
    </section>

    <section class="section is-medium">
      <div class="container">
        <!-- Content wrapper -->
        <div class="content-wrapper">
          <div class="columns is-vcentered">
            <!-- Feature content -->
            <div class="column is-5 is-offset-1">
              <div class="side-feature-content">
                <h3 class="title is-4 is-light">Network Governance</h3>
                <div class="divider"></div>
                <p class="is-light">
                  Viderer malorum sadipscing cum ei. Eu impetus perfecto sit, no
                  sea labore detraxit. Primis mediocrem necessitatibus an vis.
                  Eu impetus perfecto sit, no sea labore detraxit.
                </p>
              </div>
            </div>

            <!-- Feature image -->
            <div class="column is-7">
              <img
                class="side-feature"
                src="/img/illustrations/krypton-token-network.svg"
                alt=""
              />
            </div>
          </div>

          <div class="columns is-vcentered">
            <!-- Feature image -->
            <div class="column is-7">
              <img
                class="side-feature"
                src="/img/illustrations/token-stack.svg"
                alt=""
              />
            </div>

            <!-- Feature content -->
            <div class="column is-5">
              <div class="side-feature-content">
                <h3 class="title is-4 is-light">Value Stacking</h3>
                <div class="divider"></div>
                <p class="is-light">
                  ssscto sit, no sea labore detraxit.
                </p>
              </div>
            </div>
          </div>

          <div class="columns is-vcentered">
            <!-- Feature content -->
            <div class="column is-5 is-offset-1">
              <div class="side-feature-content">
                <h3 class="title is-4 is-light">Increased Security</h3>
                <div class="divider"></div>
                <p class="is-light">
                  Viderer malorum sadipscing cum ei. Eu impetus perfecto sit, no
                  sea labore detraxit. Primis mediocrem necessitatibus an vis.
                  Eu impetus perfecto sit, no sea labore detraxit.
                </p>
              </div>
            </div>

            <!-- Feature image -->
            <div class="column is-7">
              <img
                class="side-feature"
                src="/img/illustrations/token-lock.svg"
                alt=""
              />
            </div>
          </div>
        </div>
        </div>
        <!-- /Content wrapper -->
      </div>
    </section>
  </div>
</Layout>
