---
import Layout from "../layouts/Default.astro";
import Navbar from "../components/Navbar.astro";
import NavbarClone from "../components/NavbarClone.astro";
const title = "Partner";
---

<Layout title={title}>
  <div class="token-wrapper">
    <!-- Landing page Hero -->
    <section class="hero is-medium">
      <div class="hero-head">
        <!-- Cloned navbar -->
        <NavbarClone />

        <!-- Static navbar -->
        <Navbar />
      </div>

      <div class="hero-body has-text-centered">
        <div class="columns">
          <div class="column is-6 is-offset-3">
            <div class="token-image">
              <img src="/img/partner.png" />
            </div>
            <h1 class="title is-2 is-light is-semibold is-spaced main-title">
              I'm a partner
            </h1>
            <h2 class="subtitle is-4 is-light is-thin">
              PointSwitch is a tokenised loyalty rewards platform that anyone can help build and integrate into their solutions.
            </h2>
            <h1 class="subtitle is-5 is-light is-spaced">
            <i>We are especially eager to partner with companies and developers involved in the categories below.</i>
            </h1>
            <div class="cta-wrapper has-text-centered">
                        <a
                          href="start"
                          class="button k-button k-primary raised has-gradient is-fat is-bold"
                        >
                          <span class="text">Get in touch</span>
                          <span class="front-gradient"></span>
                        </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section is-medium">
      <div class="container">
        <!-- Content wrapper -->
        <div class="content-wrapper">
          <div class="columns is-vcentered">
            <!-- Feature content -->
            <div class="column is-5 is-offset-1">
              <div class="side-feature-content">
                <h3 class="title is-4 is-light">You are building enterprise blockchain infrastructure</h3>
                <div class="divider"></div>
                <p class="is-light">
                  If you're building infrastructure focused on bringing enterprises & mass adoption to blockchain,
                  (including privatising company data, high TPS + low fee solutions, account abstraction etc.),
                  we would love to discuss a collboration withour development process at PointSwitch
                </p>
              </div>
            </div>

            <!-- Feature image -->
            <div class="column is-7">
              <img
                class="side-feature"
                src="/img/illustrations/infrastructure.png"
                alt=""
              />
            </div>
          </div>

          <div class="columns is-vcentered">
            <!-- Feature image -->
            <div class="column is-7">
              <img
                class="side-feature"
                src="/img/illustrations/loyalty.png"
                alt=""
              />
            </div>

            <!-- Feature content -->
            <div class="column is-5">
              <div class="side-feature-content">
                <h3 class="title is-4 is-light">You manage Loyalty Rewards</h3>
                <div class="divider"></div>
                <p class="is-light">
                  Whether you are involved management in traditional coupons, points or tokens, we want to help you integrate with PointSwitch to facilitate exchangeability.
                </p>
              </div>
            </div>
          </div>
        </div>
        </div>
        <!-- /Content wrapper -->
      </div>
    </section>
  </div>
</Layout>
